<!DOCTYPE html>
<html>
<head>
  <title>Notification Email</title>
</head>
<body>
  <h1>Notification Email</h1>
  <p>Hello,</p>
  <p>This is a notification email for the event: <%= @event_name %>.</p>
  <p>Thank you!</p>
</body>
</html>